<configuration>
    <appender name="MATTERMOST" class="ch.qos.logback.core.AppenderBase">
        <url>https://meeting.ssafy.com/hooks/7zxperfiq7gxfke9yhuixbauba</url>
        <encoder class="ch.qos.logback.core.encoder.LayoutWrappingEncoder">
            <layout class="ch.qos.logback.classic.PatternLayout">
                <pattern>%d{yyyy-MM-dd HH:mm:ss} - [%thread] %-5level %logger{36} - %msg%n</pattern>
            </layout>
        </encoder>
    </appender>

    <logger name="ERROR_LOGGER" level="ERROR" additivity="false">
        <appender-ref ref="MATTERMOST"/>
    </logger>

    <logger name="WARN_LOGGER" level="WARN" additivity="false">
        <appender-ref ref="MATTERMOST"/>
    </logger>

    <root level="debug">
        <appender-ref ref="MATTERMOST"/>
    </root>
</configuration>